/backend/node_modules/*
!/backend/node_modules/@prisma
!/backend/node_modules/@prisma/client
/backend/.env
/backend/dist

# Logs
/frontend/.env
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# dependencies
/help-desk-frontend/node_modules
/help-desk-frontend/.pnp
/help-desk-frontend/.pnp.js

# testing
/help-desk-frontend/coverage

# production
/help-desk-frontend/build

# misc
/help-desk-frontend/.DS_Store
/help-desk-frontend/.env.local
/help-desk-frontend/.env.development.local
/help-desk-frontend/.env.test.local
/help-desk-frontend/.env.production.local

/help-desk-frontend/npm-debug.log*
/help-desk-frontend/yarn-debug.log*
/help-desk-frontend/yarn-error.log*

